[staticMenu]
code = "menu-header"

[ToursComponent]
==

<ul>
  
  <li class=" {% if this.page.url == '/' %} active {% else %} {% endif %}">
    <a href="{{'home'| page}}">
      {% if this.locale == 'ru' %} Главная {% else %} Home {% endif %}
    </a>
  </li>
  <li class="{% if this.page.url == '/tours' %} active {% else %} {% endif %}">
    <a href="{{'tours/index'| page}}">
      {% if this.locale == 'ru' %} Туры {% else %} Tours {% endif %}
    </a>
  </li>
  <li class="{% if this.page.url == '/rent' %} active {% else %} {% endif %}">
    <a href="{{'rent'| page}}">
      {% if this.locale == 'ru' %} Аренда {% else %} Rent {% endif %}
    </a>
  </li>
  <li class="{% if this.page.url == '/blog' %} active {% else %} {% endif %}">
    <a href="{{'blog/index'| page}}">
      {% if this.locale == 'ru' %} Блог {% else %} Blog {% endif %}
    </a>
  </li>
  <li class="{% if this.page.url == '/video/:page?' or this.page.url == '/photo/:page?' %} active {% else %} {% endif %}">
    <a href="#" style="pointer-events: none;">
      {% if this.locale == 'ru' %} Медиа {% else %} Media  {% endif %}
    </a>
    <ul>
      <li>
        <a href="{{'video'| page}}">
          {% if this.locale == 'ru' %} Видео {% else %} Video {% endif %}
        </a>
      </li>
      <li>
        <a href="{{'photo'| page}}"> {% if this.locale == 'ru' %} Фото {% else %} Photo {% endif %} </a>
      </li>
    </ul>
  </li>
  <li class="{% if this.page.url == '/contacts' %} active {% else %} {% endif %}">
    <a href="{{'contacts'| page}}"> {% if this.locale == 'ru' %} Контакты {% else %} Contacts {% endif %} </a>
  </li>
  {% component 'staticMenu' %}
</ul>
